---
layout: default
---

<div class="post {% if page.tags contains 'groundtruth' %}post-groundtruth{% endif %}">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  
  {% if page.tags.size > 0 %}
  <div class="post-tags">
    <div class="tag-list">
      {% for tag in page.tags %}
        <a href="/tags/{{ tag | slugify }}/" class="tag-link">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  
  {{ content }}
</div>

{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% comment %}
  Load WordPress comments from external YAML file based on post slug
{% endcomment %}
{% assign url_parts = page.url | split: '/' %}
{% assign post_slug = url_parts[1] | append: '-' | append: url_parts[2] | append: '-' | append: url_parts[3] | append: '-' | append: url_parts[4] %}
{% assign comment_file = post_slug | append: '.yml' %}
{% assign comments_data = site.data.comments[post_slug] %}



{% if comments_data.wordpress_comments %}
<div class="archived-comments">
  <h3>Archived Comments ({{ comments_data.wordpress_comments.size }} comments)</h3>
  <p class="archive-notice"><em>These comments were imported from the previous WordPress version of this blog.</em></p>
  
  {% for comment in comments_data.wordpress_comments %}
    <div class="archived-comment">
      <div class="comment-meta">
        <strong>{{ comment.author }}</strong>
        <time>{{ comment.date | date: "%B %d, %Y at %I:%M %p" }}</time>
      </div>
      <div class="comment-content">
        {{ comment.content | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}

{% comment %}
  Add Giscus for new comments
  Only show for posts that allow comments (default: true)
{% endcomment %}



{% if page.comments != false %}
  {% comment %}Skip age check for now - enable all posts for testing{% endcomment %}
  {% assign post_age_days = 0 %}
  
  {% if post_age_days < 3650 or page.comments_always_open %}
    <div class="new-comments-section">
      <h3>Comments</h3>
      <div class="giscus-container">
        <script src="https://giscus.app/client.js"
          data-repo="shieber/pmphlt"
          data-repo-id="R_kgDOPMi7nw"
          data-category="Announcements"
          data-category-id="DIC_kwDOPMi7n84CtKCM"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="0"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="preferred_color_scheme"
          data-lang="en"
          crossorigin="anonymous"
          async>
        </script>
      </div>
    </div>
  {% else %}
    <div class="comments-closed">
      <p><em>Comments are closed for this post. The discussion period has ended.</em></p>
    </div>
  {% endif %}
{% endif %}

{% comment %}
  Comments section will be added back later with Giscus
{% endcomment %}